<!-- <h1>login</h1>

    <input id="username" type="text" placeholder="username">
    <input id="password" type="text" placeholder="password">
    <button id="signupButton">login</button>

<script>
    document.querySelector("#signupButton").addEventListener("click", () =>{

        console.log("clicked")

        let username  = document.querySelector("#username").value;
        let password = document.querySelector("#password").value;
        console.log("usenrame", username, password);
    });

</script> -->


<h1>login</h1>



    <form action="/auth/login" method="post">
        <label for="fname">Username:</label><br>
        <input type="text" id="username" name="username" value="JohnDoe"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="password"><br><br>
        <input type="submit" value="Submit">
      </form> 

